
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Martel&display=swap');
#content {
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Martel', serif;
    box-sizing: border-box;
}
header {
    background-color: #95A3B3;
    opacity: 95%;
    display: grid;
    grid-template-columns: 125px auto;
    font-weight: bold;
    font-family: 'Cinzel', serif;
    letter-spacing: 2px;
}
header nav a {
    border-bottom: 3px solid transparent;
}
header nav a:hover {
    border-bottom: 3px solid #84DCC6;
}
header nav a.active {
    border-bottom: 3px solid #84DCC6;
}
#logo-link {
    padding: 5px;
    justify-self: center;
    align-self: center;
}
.logo {
    width: 80px;
    padding-top: 7px;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 30px;
}
nav a:hover {
    background-color: #4B4E6D;
    color: #84DCC6;
}
main section image {
    box-sizing: border-box;
}
.heading {
    font-family: 'Martel', serif;
    font-weight: bold;
}
body {
    margin: 0;
    padding: 0;
    font-size: 22px;

}
.hello-container {
    position: relative;
    width: 100%;
    box-shadow: 5px 5px 5px black;
}
  
.image {
    display: block;
    width: 100%;
    height: auto;
}
  
.hello-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1s ease;
    background-color: black;
}
  
.hello-container:hover .hello-overlay {
    opacity: .8;
}
  
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.text h2 {
    font-size: 2em;
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 150px;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.flip-box {
    background-color: transparent;
    width: 300px;
    height: 270px;
    perspective: 1000px;
}
.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    box-shadow: 5px 5px 10px black;

}
.flip-box:hover .flip-box-inner {
    transform: rotateX(180deg);
}
.flip-box-front, .flip-box-back {

    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flip-box-front {
    background-color: #95A3B3;
    color: black;
}
.flip-box-back {
    background-color: #95A3B3;
    color: black;
    transform: rotateX(180deg);
}
/* Sell yourself section of index */

#background-block {
    margin-top: 150px;
    background-color: #4B4E6D;
    width: 100%;
    height: 600px;
    grid-column: 1/-1;
    grid-row: 2/3;
    box-shadow: 5px 5px 5px black;
}
#sell-yourself {
    margin-top: 200px;
    width: 800px;
    grid-column: 1/-1;
    grid-row: 2/3;
    text-align: center;
    color: white;
}
footer {
    background-color: #95A3B3;
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
    align-items: center;
    padding: 20px;
    border: 1px solid black;
}
footer .social {
    font-size: 2em;
    color: black;
    text-align: left;
    letter-spacing: 5px;
}
footer a {
    text-decoration: none;
    color: black;
}
footer a:hover {
    color: #84DCC6;
    text-decoration: underline;
}

/* Employers CSS */


.employers-container {
    position: relative;
    width: 100%;
    box-shadow: 5px 5px 5px black;
}
  
.image {
    display: block;
    width: 100%;
    height: auto;
}
  
.employers-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1s ease;
    background-color: black;
}
  
.employers-container:hover .employers-overlay {
    opacity: .8;
}
#employers-msg h2 {
    color: whitesmoke;
    font-size: 2em;
    position: absolute;
    top: 20%;
    left: 20%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    letter-spacing: 3px;
}
#employers-msg h3{
    color: whitesmoke;
    font-size: 1.4em;
    position: absolute;
    top: 65%;
    left: 70%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    letter-spacing: 1px;
}
#employers-msg h4{
    color: whitesmoke;
    font-size: 1.2em;
    position: absolute;
    top: 78%;
    left: 75%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    letter-spacing: 1px;
}
.employers-grid {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 250px;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}
.projects {
    text-align: center;
    text-decoration: none;
    color: black;
    transition: transform .5s;
}
.projects:hover {
    opacity: .6;
    transform: scale(1.1);
}
.projects h3 {
    border-top: 1px solid black;
    padding-top: 20px;
}
.projects img {
    width: 350px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
    
}
#python-icon {
    border: 1px solid black;
    padding-top: 57px;
    padding-bottom: 57px;
}
#ed-background {
    margin-top: 50px;
    background-color: #4B4E6D;
    width: 80%;
    height: 700px;
    grid-column: 1/-1;
    grid-row: 3/4;
    box-shadow: 5px 5px 5px black;
}
#ed-contents {
    margin-top: 70px;
    margin-left: 80px;
    width: 80%;
    height: 600px;
    grid-column: 1/-1;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 25px;
}
.ed-header {
    grid-column: 1/-1;
    grid-row: 2/3;
    margin-top: 300px;
    border-bottom: 1px solid black;
}
#experience {
    line-height: 50px;
    color: whitesmoke;
    letter-spacing: 1px;
}
#university-logos {
    margin-top: 40px;
}
#university-logos img {
    width: 300px;
    box-shadow: 2px 2px 2px black;
}

/* biography */

.bio-container {
    position: relative;
    width: 100%;
    box-shadow: 5px 5px 5px black;
}
  
.image {
    display: block;
    width: 100%;
    height: auto;
}
  
.bio-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1s ease;
    background-color: black;
}
  
.bio-container:hover .bio-overlay {
    opacity: .8;
}
#bio-msg {
    color: whitesmoke;
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 20%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    letter-spacing: 3px;
}
#bio-msg h2 {
    font-size: 2em;
}
.bio {
    margin-bottom: 200px;
}
.bio-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
}
.bio-main img {
    width: 100%;
    margin: 50px;
    box-shadow: 2px 2px 2px black;
}
#family {
    padding: 70px;
}
#family h3 {
    font-size: 1.5em;
    text-align: center;
}
#things-background {
    background-color: #4B4E6D;
    grid-column: 1/-1;
    width: 100%;
    height: 700px;
    grid-row: 2/3;
    margin-top: 200px;
}
#need-to-know {
    grid-row: 2/3;
    grid-column: 1/-1;
    margin-top: 250px;
    color: whitesmoke;
}
#need-to-know h3 {
    text-align: center;

}
#need-to-know ul {
    margin-top: 50px;
    line-height: 50px;
    padding-left: 150px;
}

