body {
    background-color:  #606060;
    max-width: 1600px;
}

.grid {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding: 2em;
}

.circle {
    border-radius: 50%;
    max-width: 215px;
    height: auto;
    border: 9px solid;
    margin-left: auto;
    margin-right: auto;
}

#content {
    margin:0 auto;
}
